
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url("components/banner.css");
@import url("components/footer.css");
@import url("components/cards.css");

body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.description {
  margin: 100px;
}
.text-center {
  text-align: center;
}

.container {
  padding : 20px 20px;
  margin: 0 auto;
}

.container h2 {
  margin-bottom: 20px;
}

h1 {
  font-size: 20px;
  line-height: normal;
}

h2 {
  font-size: 18px;
}

a {
  font-weight: 600;
  font-size: 14px;
}

p {
  font-size: 16px;
  padding: 10px;
}

@media (max-width: 1250px)  {
  .cards  {
    flex-direction: column;
    justify-content: space-evenly;
  }
}